<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Home_Servlet</servlet-name>
        <servlet-class>controller.Home_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindProductByPrice_Servlet</servlet-name>
        <servlet-class>controller.FindProductByPrice_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search_Servlet</servlet-name>
        <servlet-class>controller.Search_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductsByCategory_Servlet</servlet-name>
        <servlet-class>controller.GetProductsByCategory_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart_Servlet</servlet-name>
        <servlet-class>controller.Cart_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buy_Servlet</servlet-name>
        <servlet-class>controller.Buy_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Process_Servlet</servlet-name>
        <servlet-class>controller.Process_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout_Servlet</servlet-name>
        <servlet-class>controller.Logout_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Order_Servlet</servlet-name>
        <servlet-class>controller.Order_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WalletServlet</servlet-name>
        <servlet-class>vnp.controller.WalletServlet</servlet-class>
    </servlet>
    
    
    
    <servlet-mapping>
        <servlet-name>Home_Servlet</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindProductByPrice_Servlet</servlet-name>
        <url-pattern>/findProductByPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search_Servlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductsByCategory_Servlet</servlet-name>
        <url-pattern>/getProductByCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart_Servlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buy_Servlet</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Process_Servlet</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout_Servlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Order_Servlet</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WalletServlet</servlet-name>
        <url-pattern>/wallet</url-pattern>
    </servlet-mapping>
</web-app>
